<form method="POST" action="/Home/Capture">
    <script type="text/javascript"
        src="https://assets.pagar.me/checkout/checkout.js"
        data-button-text="Pagar"
        data-encryption-key="ek_test_gvoJMnKwRyevOUdjY6NHxzdhTPB39Q"
        data-amount="1000"
		data-customer-data="false">
    </script>
</form>





